/* Version 1.0.1 */

body {
  background-color: #fafafa;
  font-family: helvetica neue;
  margin: 50px;
  text-align: center;
}

canvas {
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  -moz-box-shadow: 0px 0px 16px 2px rgba(184,184,184,1);
  -webkit-box-shadow: 0px 0px 16px 2px rgba(184,184,184,1);
  background-color: #fff;
  border-radius: 1000px;
  box-shadow: 0px 0px 16px 2px rgba(184,184,184,1);
}

.container {
  margin: 0 auto;
  max-width: 800px;
  text-align: left;
}

#parsing_errors {
  color: red;
  font-size: 13px;
}

div.input_container {
  display: inline-block;
  padding: 40px 0 20px 0px;
}

textarea {
  font-family: monospace;
  font-size: 12px;
}

div.points {
  width: 65%;
}

div.edges {
  width: 30%;
}

h4 {
  font-size: 15px;
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 10px;
}

#ambient_selector_form {
  font-size: 14px;
}

#ambient_selector_form span {
  padding-left: 5px;
  padding-right: 20px;
}

.button_box {
  clear: both;
  display: block;
  width: 100%;
}

button {
  -moz-box-shadow: 0 2px 5px rgba(0,0,0,.2);
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.2);
  background-color: #fff;
  border-radius: 4px;
  border: none;
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
  font-size: 15px;
  font-weight: 600;
  outline: none;
  padding: 10px 20px;
  width: 200px;
}

button:hover {
  background-color: #fafafa;
  cursor: pointer; 
}

footer {
  background-color: #fafafa;
  border-top: 1px solid #ddd;
  bottom: 0;
  height: 40px;
  left: 0;
  position: fixed;
  width: 100%;
}

footer .logos .lateral {
  bottom: 10px;
  display: inline-block;
  margin-right: 4px;
  padding-top: 3px;
  position: absolute;
  right: 20px;
  width: 20px;

}

footer .logos p {
  display: inline-block;
  font-size: 11px;
  font-weight: 600;
  margin-right: 10px;
  vertical-align: middle;
}

footer .logos .github {
  bottom: 10px;
  display: inline-block;
  left: 20px;
  margin-right: 4px;
  padding-top: 3px;
  position: absolute;
  width: 50px;
}

footer .logos .lateral:hover,
footer .logos .github:hover {
  opacity: 0.6;
} 
